<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Buffalo - Web</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
  </head>
  <body>
    <div class="container">
      <%= partial("flash.html") %>
        <div class="pull-right">
        <a href="" class="btn btn-info">登录</a>
        <a href="<%= newUsersPath() %>" class="btn btn-danger">注册</a>
        </div>
      <%= yield %>
    </div>

    <%= javascriptTag("application.js") %>
  </body>
</html>
